<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639368599299-463u2469pn2vbch2v5gm19ps6a656o5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639368599299-463u2469pn2vbch2v5gm19ps6a656o5l</string>
	<key>API_KEY</key>
	<string>AIzaSyAJzanc4zY0MGj4ERVZWwi4Goj5LPvItag</string>
	<key>GCM_SENDER_ID</key>
	<string>639368599299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kfernz.sproutup</string>
	<key>PROJECT_ID</key>
	<string>sproutup-f1a87</string>
	<key>STORAGE_BUCKET</key>
	<string>sproutup-f1a87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639368599299:ios:d5e800563be95dbd5c3b36</string>
</dict>
</plist>